websocket-client>=1.8.0
psycopg2-binary==2.9.10
sqlalchemy~=2.0.37
uvicorn>=0.34.0
fastapi>=0.115.12
ray[default]>=2.46.0
celery>=5.3.6
redis>=5.0.0
setuptools>=80.9.0
torch>=2.7.0
transformers>=4.52.4
flower>=2.0.1
nest_asyncio>=1.5.6